# Data Integrity:
Ensuring the accuracy, consistency, and reliability of data throughout the
cleaning process.

In [1]:
import pandas as pd

# Load the dataset
file_path = "/AB_NYC_2019.csv"
df = pd.read_csv(file_path)

# Show basic info and first few rows
basic_info = df.info()
head = df.head()

# Count missing values
missing_values = df.isnull().sum()

# Identify duplicates
duplicate_count = df.duplicated().sum()

df.shape, missing_values, duplicate_count, head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

((48895, 16),
 id                                    0
 name                                 16
 host_id                               0
 host_name                            21
 neighbourhood_group                   0
 neighbourhood                         0
 latitude                              0
 longitude                             0
 room_type                             0
 price                                 0
 minimum_nights                        0
 number_of_reviews                     0
 last_review                       10052
 reviews_per_month                 10052
 calculated_host_listings_count        0
 availability_365                      0
 dtype: int64,
 np.int64(0),
      id                                              name  host_id  \
 0  2539                Clean & quiet apt home by the park     2787
 1  2595                             Skylit Midtown Castle     2845
 2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
 3  3831                   Cozy Entire Floor of Brownstone     4869
 4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

      host_name neighbourhood_group neighbourhood  latitude  longitude  \
 0         John            Brooklyn    Kensington  40.64749  -73.97237
 1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
 2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
 3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
 4        Laura           Manhattan   East Harlem  40.79851  -73.94399

          room_type  price  minimum_nights  number_of_reviews last_review  \
 0     Private room    149               1                  9  2018-10-19
 1  Entire home/apt    225               1                 45  2019-05-21
 2     Private room    150               3                  0         NaN
 3  Entire home/apt     89               1                270  2019-07-05
 4  Entire home/apt     80              10                  9  2018-11-19

    reviews_per_month  calculated_host_listings_count  availability_365
 0               0.21                               6               365
 1               0.38                               2               355
 2                NaN                               1               365
 3               4.64                               1               194
 4               0.10                               1                 0  )

# Missing Data Handling:
Dealing with missing values by either imputing them or making
informed decisions on how to handle gaps in the dataset.

In [2]:
# Fill missing 'name' and 'host_name' with "Unknown"
df['name'] = df['name'].fillna("Unknown")
df['host_name'] = df['host_name'].fillna("Unknown")

# Ensure 'last_review' is datetime
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

# Drop rows where 'last_review' is null
df = df.dropna(subset=['last_review'])

# Confirm all missing values are handled now
cleaned_missing = df.isnull().sum()

# Show updated data types and a few rows to confirm
dtypes = df.dtypes
sample_rows = df[['name', 'host_name', 'last_review', 'reviews_per_month']].head()

cleaned_missing, dtypes, sample_rows

(id                                0
 name                              0
 host_id                           0
 host_name                         0
 neighbourhood_group               0
 neighbourhood                     0
 latitude                          0
 longitude                         0
 room_type                         0
 price                             0
 minimum_nights                    0
 number_of_reviews                 0
 last_review                       0
 reviews_per_month                 0
 calculated_host_listings_count    0
 availability_365                  0
 dtype: int64,
 id                                         int64
 name                                      object
 host_id                                    int64
 host_name                                 object
 neighbourhood_group                       object
 neighbourhood                             object
 latitude                                 float64
 longitude                                float64
 room_type                                 object
 price                                      int64
 minimum_nights                             int64
 number_of_reviews                          int64
 last_review                       datetime64[ns]
 reviews_per_month                        float64
 calculated_host_listings_count             int64
 availability_365                           int64
 dtype: object,
                                                name    host_name last_review  \
 0                Clean & quiet apt home by the park         John  2018-10-19
 1                             Skylit Midtown Castle     Jennifer  2019-05-21
 3                   Cozy Entire Floor of Brownstone  LisaRoxanne  2019-07-05
 4  Entire Apt: Spacious Studio/Loft by central park        Laura  2018-11-19
 5         Large Cozy 1 BR Apartment In Midtown East        Chris  2019-06-22

    reviews_per_month
 0               0.21
 1               0.38
 3               4.64
 4               0.10
 5               0.59  )

# Duplicate Removal:
Identifying and eliminating duplicate records to maintain data
uniqueness.

In [6]:
df.duplicated().sum()

np.int64(0)

# Standardization:
Consistent formatting and units across the dataset for accurate analysis.

In [3]:
from sklearn.preprocessing import StandardScaler

# Select numerical columns for standardization (excluding ID-like columns)
numeric_cols = ['latitude', 'longitude', 'price', 'minimum_nights',
                'number_of_reviews', 'reviews_per_month',
                'calculated_host_listings_count', 'availability_365']

# Initialize the scaler
scaler = StandardScaler()

# Apply standardization
standardized_data = scaler.fit_transform(df[numeric_cols])

# Convert the result back to DataFrame for readability
standardized_df = pd.DataFrame(standardized_data, columns=[f"{col}_scaled" for col in numeric_cols])

# Show summary statistics of the scaled features
standardized_summary = standardized_df.describe()

standardized_df.head(), standardized_summary

(   latitude_scaled  longitude_scaled  price_scaled  minimum_nights_scaled  \
 0        -1.466526         -0.454489      0.033929              -0.280022
 1         0.463475         -0.698632      0.419827              -0.280022
 2        -0.781851         -0.184433     -0.270728              -0.280022
 3         1.279811          0.153298     -0.316426               0.237679
 4         0.355272         -0.510814      0.292887              -0.164977

    number_of_reviews_scaled  reviews_per_month_scaled  \
 0                 -0.421236                 -0.692221
 1                  0.325873                 -0.591055
 2                  4.995303                  1.944025
 3                 -0.421236                 -0.757680
 4                  0.927711                 -0.466087

    calculated_host_listings_count_scaled  availability_365_scaled
 0                               0.031775                 1.930781
 1                              -0.120343                 1.853585
 2                              -0.158373                 0.610745
 3                              -0.158373                -0.886839
 4                              -0.158373                 0.108977  ,
        latitude_scaled  longitude_scaled  price_scaled  minimum_nights_scaled  \
 count     3.884300e+04      3.884300e+04  3.884300e+04           3.884300e+04
 mean      1.162478e-13     -1.078215e-13  1.609756e-17          -1.170732e-17
 std       1.000013e+00      1.000013e+00  1.000013e+00           1.000013e+00
 min      -4.032102e+00     -6.280727e+00 -7.226349e-01          -2.800220e-01
 25%      -7.182030e-01     -6.707915e-01 -3.722799e-01          -2.800220e-01
 50%      -1.168167e-01     -7.820933e-02 -2.097964e-01          -2.224997e-01
 75%       6.338706e-01      3.454002e-01  1.405586e-01          -1.074550e-01
 max       3.362932e+00      5.100406e+00  5.005346e+01           7.156534e+01

        number_of_reviews_scaled  reviews_per_month_scaled  \
 count              38843.000000              3.884300e+04
 mean                   0.000000             -1.170732e-17
 std                    1.000013              1.000013e+00
 min                   -0.587260             -8.112383e-01
 25%                   -0.545754             -7.041223e-01
 50%                   -0.421236             -3.887250e-01
 75%                    0.076837              3.848909e-01
 max                   12.445638              3.399553e+01

        calculated_host_listings_count_scaled  availability_365_scaled
 count                           3.884300e+04             3.884300e+04
 mean                           -5.853659e-18            -1.170732e-17
 std                             1.000013e+00             1.000013e+00
 min                            -1.583725e-01            -8.868391e-01
 25%                            -1.583725e-01            -8.868391e-01
 50%                            -1.583725e-01            -4.622663e-01
 75%                            -1.203429e-01             8.809277e-01
 max                             1.223927e+01             1.930781e+00  )

latitude / longitude → Geographic coordinates are bounded by the city’s geography; outlier handling is more about geographic filtering (e.g., outside NYC) than IQR.

availability_365 → Already bounded between 0 and 365, and values near extremes are valid (0 = unavailable, 365 = fully available).

calculated_host_listings_count → Could be skewed, but very high values may be legitimate for property managers.

# Outlier Detection:
Identifying and addressing outliers that may skew analysis or model
performance.

In [7]:
import numpy as np

# Use IQR method to detect outliers for selected numeric features
outlier_flags = {}
outlier_counts = {}

for col in ['price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month']:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Identify outliers
    outliers = (df[col] < lower_bound) | (df[col] > upper_bound)
    outlier_flags[col] = outliers
    outlier_counts[col] = outliers.sum()

outlier_counts

{'price': np.int64(2077),
 'minimum_nights': np.int64(4464),
 'number_of_reviews': np.int64(4237),
 'reviews_per_month': np.int64(1793)}